<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pokéloli - Faîtes combattre vos lolis !</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Pokéloli</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

      <div class="col-lg-12 my-4">
        <div class="row">
          <div class="col-lg-12  my-4 text-center">
            <img src="/images/loli-teach.jpg" style="width:100% height:100%;" alt="">
          </div>
        </div>
      </div>
      <% if(locals.player) { %>

         <% if(player.tutorial == 1) { %>
            <div class="col-lg-12 my-4">
              <div class="row">
                <div class="col-lg-12 card my-4">
                  <div class="card-header">
                    Professeur Loli
                  </div>
                  <div class="card-body">
                     <p>
                      Salut à toi jeune dresseur !
                    </p> 
                    <p>
                      Je vois que tu es nouveau dans le monde de Pokéloli ! Tu vas voir, c'est un monde passionnant où les bonnes surprises ne manquent pas :)
                    </p> 
                    <p>
                      Pour l'instant, tu n'as aucune loli avec toi pour t'aider dans ton aventure. Et si on allait en récupérer une tout de suite ? <br/>
                      Il se trouve justement qu'il m'en reste quelques unes qui n'ont pas trouvé de dresseur.
                    </p>
                    <a href="/professeur-loli" class="btn btn-primary">Aller au laboratoire du Professeur Loli</a>
                  </div>
                </div>
              </div>
            </div>
        <% } %>

        <% if(player.tutorial == 2) { %>
            <div class="col-lg-12 my-4">
              <div class="row">
                <div class="col-lg-12 card my-4">
                  <div class="card-header">
                    Système
                  </div>
                  <div class="card-body">
                     <p>
                      Le Professeur Loli t'attend dans son labo. Rejoins-la vite !
                    </p> 
                    <a href="/professeur-loli" class="btn btn-primary">Aller au laboratoire du Professeur Loli</a>
                  </div>
                </div>
              </div>
            </div>
        <% } %>

      <% } %>
            

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Pokéloli &copy;  2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
